  
.box {
  margin-top: 15px;
  width: 350px;
}

.input {
  width: 350px;
  height: 25px;
  margin-top: 5px;
  border-radius: 4px 4px 4px 4px;
  border: none;
  box-shadow: 1px 3px 14px -2px rgba(0,0,0,0.78);
}

input:focus {
  box-shadow: 0 0 3px 3px #00ccffb4;
  border: unset;
  outline: 0;
  outline-offset: 0;
}

.labelLight {
  color: rgb(248, 12, 12);
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
}

.labelDark {
  composes: labelLight;
  font-weight: 400;
}